{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block main_content %}
<!-- Start coding here -->
<turbo-frame id="main_content">
    <h1>Documents index</h1>
    {{ dump(documents) }}
    <a href="#">Create new</a>
</turbo-frame>
{% endblock %}
