<form method="post" action="{{ path('app_mandnat_delete', {'id': item.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">

    <twig:Button variant="danger">
        Delete
    </twig:Button>
</form>
