{% extends 'base.html.twig' %}

{% block title %}Edit Mandnat{% endblock %}

{% block body %}
    <h1>Edit Mandnat</h1>

    {{ include('mandnat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mandnat_index') }}">back to list</a>

    {{ include('mandnat/_delete_form.html.twig') }}
{% endblock %}
