{% extends 'base.html.twig' %}

{% block title %}New VideoActors{% endblock %}

{% block body %}
    <h1>Create new VideoActors</h1>

    {{ include('video_actors/_form.html.twig') }}

    <a href="{{ path('app_video_actors_index') }}">back to list</a>
{% endblock %}
