{% extends 'base.html.twig' %}

{% block title %}Actor index{% endblock %}

{% block main_content %}
    <div class="relative flex flex-col w-full min-w-0 mb-0 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
        <div class="p-6 pb-0 mb-0 bg-white rounded-t-2xl">
            <h6 class="text-xl">Actor Edit</h6>
        </div>
        <div class="flex-auto px-0 pt-0 pb-2">
            <div class="p-0 overflow-x-auto">
                {{ include('actor/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
{% endblock %}
