<span class="bg-gradient-to-tl {{ item.isverrifyted ? 'from-emerald-500 to-teal-400' : 'from-red-600 to-orange-600' }} px-1 text-xs rounded-1.8 py-1 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white">
    {{ item.isverrifyted ? 'online' : 'offline' }}
</span>

