{% extends 'modalBase.html.twig' %}

{% block title %}New Video{% endblock %}

{% block main_content %}
    <div class="m-4 p-4 modal:m-0 modal:p-0 bg-gray-50 dark:bg-gray-800 rounded-lg">
        <div class="flex justify-between">
            <h1 class="text-xl font-semibold text-gray-800 dark:text-gray-50 mb-4">Create New Video</h1>
            <div class="mr-4">
                <twig:Button
                        tag="a"
                        variant="default"
                        href="{{ path('app_video_index') }}"
                        class="flex items-center space-x-1 font-bold"
                >
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"></path>
                    </svg>
                    <span>Back to list</span>
                </twig:Button>
            </div>
        </div>
        {{ include('video/_form.html.twig') }}
    </div>
{% endblock %}

{% block stream_success %}
    <turbo-stream action="prepend" targets="#videos-list tbody">
        <template>
            {{ include('video/_row.html.twig') }}
        </template>
    </turbo-stream>
{% endblock %}