<span class="flex items-center justify-between py-2.5 px-2.5 mx-1 text-xs rounded-1.8 inline-block whitespace-nowrap shadow shadow-sm hover:shadow-md text-center bg-gradient-to-tl {{ value ? 'from-emerald-500 to-teal-400' : 'from-red-600 to-orange-600' }} align-baseline font-bold uppercase leading-none text-white">
{{ value ? 'YES' : 'NO' }}
</span>
