<div{{ attributes }}>
    {% import '_macros.html.twig' as colheader %}
    <div class="flex items-center">
        {% set sort = this.fieldname %}
        <a href="{{ path(this.routename, {
            ...app.request.query.all(),
            sort: this.fieldname,
            sortDirection: sort == this.fieldname and this.direction == 'asc' ? 'desc' : 'asc',
        }) }}">
            {{ this.label}} {{ colheader.sortArrow(this.fieldname, this.fieldname, this.direction) }}
        </a>
    </div>
</div>
