<div{{ attributes }} class="dark:bg-gradient-to-b dark:from-gray-700 dark:to-gray-800 p-2">
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action',
            'data-action-name': 'prevent|save',
            'data-controller': 'autosubmit',
        }
    }) }}
    {{ form_row(form.clientInUse) }}
    {{ form_end(form) }}
</div>
