<form method="post" action="{{ path('app_push_message_delete', {'id': push_message.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ push_message.id) }}">
    <button class="btn">Delete</button>
</form>
